.logo {
  width: 200px; /* Adjust as needed */
  margin-bottom: 20px; /* Adds space between the logo and the form elements */
}

.login-form {
  text-align: center;
}

.spaced {
  margin-top: 30px; /* Adjust this value for more or less space */
}

.credentials-section button {
  margin-bottom: 20px; /* Adjust for more space between button and token display */
}

.token-display {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.token-display input {
  flex: 1;
  margin-right: 10px;
}
